@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

body {
    background-color: ghostwhite;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: safe center;
    justify-content: safe center;
    height: 100vh;
    overflow: auto;
}

.container {
    background-color: lightblue;
    padding: 40px 40px;
    width: 50%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;

}

form {
    width: 48%;
    padding: 1%;
    justify-content: center;
}

.btn {
    width: 100%;
    cursor: pointer;
    background-color: white;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1), 0 6px 6px 0 rgba(0, 0, 0, 0.1);
    padding: 10px 10px;
    margin: 0 15px 15px 0;
    font-size: 16px;
    text-align: center;
    border: 0;
    border-radius: 15px;
    align-items: safe center;
    justify-content: safe center;
}

.btn:active {
    transform: scale(0.98);
}