body {
    background-color: ghostwhite;
    font-family: 'Muli',sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;


}

.container{
    background-color: lightblue;
    padding: 60px 40px;
    width: 500px;
    border-radius: 10px;
}

.btn {
    position: relative;
    width: 50%;
    cursor: pointer;
    left: 25%;
    background-color: white;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1), 0 6px 6px 0 rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    margin: 0 5px 10px 0;
    font-size: 16px;
    border: 0;
    border-radius: 10px;
}



.btn:active {
    transform: scale(0.98);
}